{% load static%}
<!-- <div style="width: 100%; background-color: #c5f4e562; height: 85px;padding: 15px;margin-top: 45px;" >
        <img src="{% static 'img/logo.png' %}" style="display:block; border: 1px solid #495E57;height: 65px;width: 150px;padding: 5px;float: left;"/>
        <div style="width: 50%;height: 85%;float: right;" >
            <hr style="color: #c7ffec; width: 90%; background-color: #c7ffec;" >
            <p style="width: 85%;padding: 5px;margin-left: 15px;" >&copy; copyright Little lemon</p>
        </div>
    </div>
</div> -->
<footer>
<article>
    <img src="{% static 'img//logo_footer.png' %}" />
</article>
<article>
    <p>Copyright Little lemon</p>
</article>
</footer>